
<div class="span5">
  <div class="row">
    <h3>foros</h3>
    <ul>
      <li class="nav-header">foro 1</li>
      <li>comentario 1</li>
      <li>comentario 2</li>

      <li class="nav-header">foro 2</li>
      <li>comentario 1</li>
      <li>comentario 2</li>

      <li class="nav-header">foro 3</li>
      <li>comentario 1</li>
      <li>comentario 2</li>
    </ul>
  </div>
  <div class="row">
    <h3>noticias</h3>
    <ul>
      <li class="nav-header">noticia 1</li>
      <li>texto 1</li>

      <li class="nav-header">noticia 2</li>
      <li>texto 3</li>

      <li class="nav-header">noticia 3</li>
      <li>texto 3</li>

    </ul>
  </div>
</div>
<div class="span5">
  <div class="row">
    <h3><%= link_to "Eventos", eventos_path %></h3>
    <ul>
      <%- @eventos.each do |evt|  %>
          <li class="nav-header">
            <strong><%= evt.titulo %></strong>
            <%= evt.fecha %>
          </li>
      <%- end %>
      <%= link_to 'New Evento', new_evento_path %>
    </ul>

  </div>
  <div class="row">
    <h3>noticias
    </h3>
    <ul>
      <li class="nav-header">Oferta 1 <%= Date.yesterday.to_s %></li>
      <li>descripcion 1</li>

      <li class="nav-header">Oferta 2 <%= Date.yesterday.to_s %></li>
      <li>descripcion 2</li>

      <li class="nav-header">Oferta 3 <%= Date.yesterday.to_s %></li>
      <li>descripcion 3</li>

    </ul>
  </div>
</div>