<p>hola</p>
<p><%= current_user.email %></p>
<p><%= image_tag avatar_url(current_user) %></p>

<div class="acciones">
  <ul class="nav nav-list">
    <li class="nav-header">
      links
    </li>
    <li>
      <p>
          <%= button_to 'Mis amigos', amigos_path, :method => "get", :class => "btn btn-primary " %>
          <%= button_to 'noticias', '#', :method => "get", :class => "btn btn-primary " %>
      </p>
    </li>
    <li>
      <%= button_to 'Eventos', eventos_path,:method => "get", :class => "btn btn-primary " %>
      <%= button_to 'recursos', '#', :method => "get", :class => "btn btn-primary " %>
    </li>
    <li>
      <%= button_to 'empleos', '#', :method => "get", :class => "btn btn-primary " %>
      <%= button_to 'estudios', '#', :method => "get", :class => "btn btn-primary " %>
    </li>
    <li>
      <%= button_to 'Foros', forem_path, :method => "get", :class => "btn btn-primary " %>
      <%= button_to 'ofertas', '#', :method => "get", :class => "btn btn-primary " %>
    </li>
    <li class="nav-header">
      <%= link_to 'Mis amigos', amigos_path %>
    </li>
    <%- @users.each do |usr| %>
        <p><%= link_to (image_tag avatar_url(usr)), usuario_path(usr) %></p>
    <%- end %>
  </ul>

</div>